@import './variables';

.auth-page{
  .header-logo{
    text-align: center;
  }
  .register img{
    width: 73px;
    height: 73px;
  }
  form{
    text-align: center;
    width: 100%;
  }
  label{
    color: $darkBlue;
    font-weight: bold;
  }
  .form-group{
    margin: 1rem 0;
    border-bottom: 1px solid $white;
    text-align: start;

    .form-control{
      border: 0;
      background: transparent;
      padding: 10px 0;
      width: 90%;
    }
  }
  button{
    width: 100%;
  }
  .footer-text{
    margin-top: 2rem;
    float: right;
  }
}

.form-control:focus{
  outline: none;
}
