@import './variables';

.auth-page{
  .header-logo{
    text-align: center;
  }
  .register img{
    width: 73px;
    height: 73px;
  }
  form{
    text-align: center;
    width: 100%;
  }
  label{
    color: $darkBlue;
    float: left;
    font-weight: bold;
  }
  .form-group{
    margin: 1rem 0;

    .form-control{
      border: 0;
      border-bottom: 1px solid $white;
      padding: 0.5rem 0;
      width: 100%;
      background: transparent;
    }
  }
  button{
    width: 100%;
  }
  .footer-text{
    margin-top: 2rem;
    float: right;
  }
}

.form-control:focus{
  outline: none;
}
