@import './assets/_scss/variables';

*{
  margin: 0;
  padding: 0;
  font-family: $lato;
}

#app{
  background: $mainBackground;
  min-height: 100vh;
}

.text-white{
  color: $white;
}

.text-gray{
  color: $gray;
}

.text-red{
  color: $red;
}

.text-blue{
  color: $lightBlue;
}
.text-darkBlue{
  color: $darkBlue;
}

.wrapper{
  height: auto;
}

.title{
  font-size: 30px;
}

button{
  background: $gradientBackground;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 20px;
}

.mt-1{
  margin-top: 1rem;
}

.mb-1{
  margin-bottom: 1rem;
}

img{
  cursor: pointer;
}

.text-end{
  text-align: end;
}

.form-post{
  min-width: 300px;
  width: auto;
  .form-group{
    display: flex;
    flex-direction: column;
    .counter{
      color: $gray;
    }
  }
  label{
    margin-bottom: 0.4rem;
    font-weight: 700;
  }
  input, textarea {
    background: $softGray;
    border: 1px solid $black;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    color: $darkGray;
    font-weight: 500;
  }
  input::placeholder, textarea::placeholder{
    color: $gray;
    font-weight: 500;
  }
  textarea{
    resize: none;
  }
}

.card{
  border: 1px solid $darkGray;
  min-height: 128px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  .card-header, .card-body {
    padding: 0.6rem;
  }
  .card-header{
    background: $lightBlue;
    min-height: 28px;
    border-radius: 16px 16px 0 0;
  }
  .card-body{
    background: $darkGray;
    min-height: 100px;
    border-radius: 0 0 16px 16px;
  }
  .card-footer{
    position: absolute;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
  }
}

input, textarea:focus{
  outline: none;
}
